POSTGRES_DB=milestonemaster
POSTGRES_USER=milestonemaster
POSTGRES_PASSWORD=milestonemaster
POSTGRES_PORT=5432
JWT_SECRET=yLv6eDrWu33nuC7WpXz+N7wJsmCxTe+5++fmW6vgha9HQhBFcHUOJkimNhpRI28co4+Dhi9X1K+9fPjKKknA2A==
JWT_EXPIRATION_MINUTES=15
